.sidebar{
    background: #FFFFFF;
border-right: 1px solid rgba(208, 208, 222, 0.8);
box-sizing: border-box;
height: 100%;
width: 340px;
position: fixed;
transition-duration: 0.5s;

}
#sidebarpanel.active{
    min-width: 102px;
    max-width: 102px;
    transition-duration: 0.5s;
    transition: 0.5s;

}
#sidebarpanel.active .gigaaa-icon-panel .gigaaa-sidebar-heading{
   display: none;
}
#sidebarpanel.active ul li a{
    visibility: hidden;
}

#sidebarpanel.active .gigaaa-icon-panel{
    text-align: center;
    transition-duration: 0.5s;
}
#sidebarpanel.active ul li svg.dropdown-arrow{
    visibility: hidden;
    display: none;
}
#sidebarpanel.active ul.nested
{
    display: none;
}
.gigaaa-icon-panel
{
    padding: 20px;
}
.gigaaa-sidebar-heading{
    padding-left: 13px;
    font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 305.19%;
text-decoration: none;
letter-spacing: 0.02em;
color: #162741;
}
a {
    padding: 0px;
    padding-left: 15px;
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 380;
    font-size: 18px;
    line-height: 50px;
    display: inline-block;
    height: 49px;
    color: #616B7B;

}
ul li.listitem a{
    color: #616B7B;
}
ul {
    margin-left: 25px;
    margin-right: 25px;
}
ul li{
    max-width: 293px;
    min-width: 57px;
    border-radius: 5px;
}
#sidebarpanel.active ul li.dropdownitem{
    height: 49px;
    line-height: 48px;
    position: relative;
    z-index: -2;
}
#sidebarpanel.active #showdropdown{
    visibility: hidden;
}
ul li.listitem{
    display: flex;
}
ul li img{
    margin-left: 16px;
}
ul.nested{
    margin-bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 60px;
    max-height: 140px;
    height: 140px;
    width: 236px;
}
ul.nested::-webkit-scrollbar{
    width: 8px;
    height: 140px;
    background: #EDEDF0;
}
ul.nested::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #616B7B;
    height: 74px;

  }

ul li.menuitem{
    margin-left: 32px;
    padding-left: 8px;
    height: 39px;
}
ul li.menuitem a{
padding-left: 0px;
line-height: 39px;
color: #616B7B;

}
ul li.menuitem:hover {
    width: 185px;
    background: #F2F2F5;
    mix-blend-mode: multiply;
    border-radius: 5px;
}
ul li.menuitem:focus a {
    color: #162741;
  
}
li.dropdownitem img{
vertical-align: sub;
}
.menu > a {
    margin-bottom: 0;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
svg{
    float: right;
    position: relative;
    right: -52px;
    margin-top: 20px;
   transition-duration: 0.5s;
}
 li[aria-expanded=true].dropdownitem  svg.dropdown-arrow{
    transform: rotate(180deg);
    transition-duration: 0.5s;
}
ul li.listitem:hover{
    background: #F2F2F5;
    mix-blend-mode: multiply;
    transition-duration: 0.5s;
} 
ul li.activelink  a{
    color: #162741;
    font-weight: bold;

}
.gigaaa-sidebar-icons{
    cursor: pointer;
}
ul li.activelink img.gigaaa-sidebar-icons{
    filter: brightness(1) contrast(14.99);

}
.gigaaa-collapsepanel{
 height: 36px;   
 bottom:35px;
 position: absolute;
 line-height: 50px;
 
}
.gigaaa-collaspe-icon
{    background-repeat: no-repeat;
    background-image: url('../../assets/collapse_icon.svg');
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    display: inline-block;
    margin-left: 40px;
    cursor: pointer;
}
.gigaaa-collaspe-icon1
{    background-repeat: no-repeat;
    background-image: url('../../assets/collapse1_icon.svg');
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    display: inline-block;
    margin-left: 40px;
    cursor: pointer;

}
.gigaaa-logo-collaspe
{    background-repeat: no-repeat;
    background-image: url('../../assets/gigaaa_logo_long_new.png');

    background-size: 112px 40px;
    height: 40px;
    width: 112px;
    display: inline-block;
    margin-left: 10.5px;
}
.gigaaa-logo-collaspe1
{    background-repeat: no-repeat;
    background-image: url('../../assets/gigaaa_logo_short_new.png');
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 0 auto;
}
.gigaaa-collaspe{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 380;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #616B7B;
    vertical-align: inherit;
    height: 22px;
    text-decoration: none;
    display: inline-block;
}
#sidebarpanel.active .gigaaa-collaspe{
visibility: hidden;
}