<div  class="sidebar" id="sidebarpanel">
    <div class="gigaaa-icon-panel">
    <!-- <img class="gigaaa-sidebar-logo" height="40" width="40" src="../assets/gigaaa_logo_short_new.png" alt=""> -->
    <!-- <a  class="gigaaa-sidebar-heading">gigaaa</a> -->
    <div class="gigaaalogo gigaaa-logo-collaspe">

    </div>
    </div>
       <ul class="vertical menu "  data-accordion-menu>
        <li class="dropdownitem"><img [src]="dropdown_icon" alt="">
          <a href="#" id="showdropdown">
            {{dropdown_heading}} 
            
            <svg  class="dropdown-arrow" width="13" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.55475 0.871094L5.00006 4.31641L8.44537 0.871094L9.50006 1.92578L5.00006 6.42578L0.500061 1.92578L1.55475 0.871094Z" fill="#162741"/>
              </svg>
            
            </a>
              
          <ul   class="menu vertical nested" >
            <li class="menuitem" *ngFor="let count of this.dropdown_array" > 
               <a>{{count.name}}
            </a></li>
        </ul>
        </li>
        <li class="listitem" [routerLink]="data.link"  routerLinkActive="activelink"   *ngFor="let data of sidebar_item;"><img class="gigaaa-sidebar-icons" [src]="data.icon" alt="" srcset="">
          <a >{{data.name}}</a></li>
        </ul>
        <div class="gigaaa-collapsepanel">
          <div id="sidebarCollapse" class="gigaaa-collaspe-icon"  ></div>
        <a class="gigaaa-collaspe">Collapse sidebar</a>            
        </div>
        </div>
   
    