html body {
    background-color:  #FAFAFD;  }
.wrapper {
    display: flex;
    width: 100%;
}
.container-fluid
{   
    z-index: 1;
  
}

#content {
    width: calc(100% - 22.75rem);
    min-height: 100vh;
    transition: all 0.4s;
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: 1;

}